{#
/**
 * @file timeline.html.twig
 * Default theme implementation to present Timeline data.
 *
 * This template is used when viewing Timeline pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_timeline()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('timeline') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
